<div class="main-wrapper container">
  <div class="service-new content">
    <h2>サブスク登録</h2>
    <%= render partial: 'shared/error', error: @error unless @error == nil %>
    <%= form_with model: @service, id: 'service-form',local: true do |f| %>
      <div class="field">
        <p>サービス名</p>
        <%= f.text_field :service_name ,placeholder: "10字〜30字で入力してください" %><br>
      </div>

      <div class="field">
        <p>説明文</p>
        <%= f.text_area :explanation, placeholder: "30字〜300字で入力してください" %><br>
      </div>

      <div class="field">
        <p>料金（月額）¥100〜¥100,000で指定</p>
        <%= f.number_field :price , in: 100..100000 %><br>
      </div>

      <div class="field">
        <p>カテゴリー</p>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {} , {class:"category-select"}) %><br>
      </div>

      <div class="field">
        <p>画像</p>
        <%= f.file_field :images, name: 'service[images][]', id: 'service_image' %>
        <div id="image-list"></div>
      </div>

      <div class="field">
        <%= f.submit '作成' %>
      </div>

      <%= link_to "トップ", root_path, class: "mnsk-link"%>
    <% end %>
  </div>
</div>