<div class="main-wrapper container">
  <div class="service-new">
    <h2>サブスク登録</h2>
    <%= form_with model: @service, id: 'service-form',local: true do |f| %>
      <div class="field">
        <p>サービス名</p>
        <%= f.text_field :service_name %><br>
      </div>

      <div class="field">
        <p>説明文</p>
        <%= f.text_field :explanation %><br>
      </div>

      <div class="field">
        <p>料金（月額）</p>
        <%= f.text_field :price %><br>
      </div>

      <div class="field">
        <p>カテゴリー</p>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {} , {class:"category-select"}) %><br>
      </div>

      <div class="field">
        <p>画像</p>
        <%= f.file_field :images %><br>
      </div>

      <div class="field">
        <%= f.submit '作成' %>
      </div>
    <% end %>
  </div>
</div>