<div class="main-wrapper container">
  <div class="content">
    <h2>サブスク検索</h2>
    <%= search_form_for @q ,url: search_services_path do |f| %>
      <%= f.label :service_name_cont, "サブスク名" %>
      <%= f.search_field :service_name_cont %>
      <%= f.submit "検索" %>
    <% end %>
    <div class="d-flex flex-wrap">
      <% @services.each do |service|%>
        <% if service.service_status != "deleted" %>
          <!-- card -->
          <div class="card col-12 col-sm-6 col-md-4 col-xl-3" style="width: 18rem;">
            <a href=<%= "/services/#{service.id}" %>>
              <div class="card-image-wrapper">
                <%= image_tag service.images[0], class:"card-img" %>
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title"><%= service.service_name %></h5>
              <span class="badge badge-pill badge-success"><%= service.category.name %></span>
              <span class="badge badge-pill badge-warning">¥<%= service.price %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @services %>
  </div>
</div>