<div class="main-wrapper container">
  <div class="content">
    <h3 class="service-show_title"><%= @service.service_name %></h3>
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% count = 0 %>
        <% @service.images.each do %>
          <li 
            data-target="#carouselIndicators"
            data-slide-to="<%= count %>" 
            <% if count == 0 %>
              class="active"
            <% end %>
            <% count += 1 %>
          ></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
          <% count_image = 0 %>
          <% @service.images.each do |image| %>
            <% if count_image == 0 %>
            <div class="carousel-item active">
            <% else %>
            <div class="carousel-item">
            <% end %>
              <div class="carousel-img" style="background-image:url(<%= rails_blob_path(@service.images[count_image]) %>)"></div>
            </div>
            <% count_image += 1 %>
          <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="service-show_info">
      <p><span class="badge badge-pill badge-success"><%= @service.category.name %></span></p>
      <p class="text-left"><%= @service.explanation %></p>
      <p>月額：¥<%= @service.price.to_s(:delimited) %></p>
      <p>出品者：<%= @service.user.name %></p>
      <% if @order != nil %>
        <div class="d-flex justify-content-center">
          <div id="good" class="good d-flex align-items-center" service-id=<%= @service.id %> order-id=<%= @order.id %> data-check=<%= @order.good %>><span id="good-num"><%= @good %></span><i class="fas fa-thumbs-up fa-2x"></i></div>
          <div id="bad" class="bad d-flex align-items-center" service-id=<%= @service.id %> order-id=<%= @order.id %> data-check=<%= @order.bad %>><span id="bad-num"><%= @bad %></span><i class="fas fa-thumbs-down fa-2x"></i></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="content d-flex justify-content-center">
    <%# ログイン済みなら %>
    <% if user_signed_in? %>
      <%# 出品者なら %>
      <% if current_user.id == @service.user_id %>
        <%= link_to "編集する", edit_service_path(params[:id]), class: "mnsk-link"%>
      <%# 出品者でないなら %>
      <% else %>
        <%# 購入者 %>
        <% if @order != nil %>
          <%= form_with model: @code, url: codes_path(order_id: @order.id,service_id: @service.id), id: 'service-form',method: :post,local: true do |f| %>
              <%= f.submit 'QRコード発行', class: "std_btn" %>
            <% end %>
          <% if (@sub.status == "paused" || @sub.status == "canceled" ) && @service.service_status == "open" %>
            <%= form_with model: @order, url: resume_service_order_path(params[:id],@order.id), id: 'service-form',local: true do |f| %>
              <%= f.submit '再開', class: "std_btn"  %>
            <% end %>
          <% elsif @service.service_status == "open" %>
            <%= form_with model: @order, url: pause_service_order_path(params[:id],@order.id), id: 'service-form',local: true do |f| %>
              <%= f.submit '停止', class: "std_btn"  %>
            <% end %>
          <% else %>
            <p>
              このサービスは出品者が終了させたため、自動的に停止されました。<br>
              なお、<%= Time.at(@sub.current_period_end).strftime('%Y/%m/%d') %>までサブスクリプションは有効です。
            </p>
          <% end %>
        <%# 非購入者 %>
        <% elsif @service.service_status == "open" %>
          <%= link_to "購入する", new_service_order_path(params[:id]), class: "mnsk-link"%>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "mnsk-link"%>
      <%= link_to "新規登録", new_user_registration_path, class: "mnsk-link"%>
    <% end %>
  </div>
  <div class="content">
    <%= link_to "トップ", root_path, class: "mnsk-link"%>
  </div>
</div>