<div class="main-wrapper container">
  <div class="service-show content">
    <h2><%= @service.service_name %></h2>
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% count = 0 %>
        <% @service.images.each do %>
          <li 
            data-target="#carouselIndicators"
            data-slide-to="<%= count %>" 
            <% if count == 0 %>
              class="active"
            <% end %>
            <% count += 1 %>
          ></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
          <% count_image = 0 %>
          <% @service.images.each do |image| %>
            <% if count_image == 0 %>
            <div class="carousel-item active">
            <% else %>
            <div class="carousel-item">
            <% end %>
              <%= image_tag image, class:'images card-img"' %>
            </div>
            <% count_image += 1 %>
          <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <p>カテゴリー：<%= @service.category.name %></p>
    <p>内容：<%= @service.explanation %></p>
    <p>月額：¥<%= @service.price %></p>
    <p>出品者：<%= @service.user.name %></p>
  </div>

  <div class="service-button content">
    <%# ログイン済みなら %>
    <% if user_signed_in? %>
      <%# 出品者なら %>
      <% if current_user.id == @service.user_id %>
        <%= link_to "編集する", edit_service_path(params[:id]), class: "mnsk-link"%>
      <%# 出品者でないなら %>
      <% else %>
        <%# 未購入なら %>
        <% if @order != nil %>
          <%= link_to "QRコードを発行する", codes_path(order_id: @order.id,service_id: @service.id), method: :post, class: "mnsk-link"%>
          <% if @sub.status == "paused" || @sub.status == "canceled" %>
            <%= link_to "再開する", resume_service_order_path(params[:id],@order.id), class: "mnsk-link"%>
          <% else %>
            <%= link_to "停止する", pause_service_order_path(params[:id],@order.id), class: "mnsk-link"%>
          <% end %>
        <% else %>
          <%= link_to "購入する", new_service_order_path(params[:id]), class: "mnsk-link"%>
        <% end %>
      <% end %>
    <% else %>
      <a href="/users/sign_up" rel="nofollow" data-method="get"><button type="button" class="btn btn-outline-primary">sign up</button></a>
      <a href="/users/sign_in" rel="nofollow" data-method="get"><button type="button" class="btn btn-outline-success">log in</button></a>
    <% end %>
    <%= link_to "トップ", root_path, class: "mnsk-link"%>
  </div>
</div>