<div class="container main-wrapper">
  <div class="registration content">
    <h3>ユーザー情報更新</h3>
    <%= form_for(@user, url: user_path(current_user.id), method: :patch, class: 'registration-form') do |f| %>
      <div class="field">
        <%= f.label :name, "お名前" %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="actions">
        <%= f.submit "更新" %>
      </div>
      <%= link_to "もどる", user_path(params[:id]), class: "mnsk-link"%>
    <% end %>
  </div>
</div>