<div class="container registration">
  <h2>Update Your Information</h2>

  <%= form_for(@user, url: user_path(current_user.id), method: :patch, class: 'registration-form') do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Edit" %>
    </div>
  <% end %>
</div>