<div class="container main-wrapper">
  <div class="user content">
    <div class="user-info">
      <h2>ユーザー情報</h2>
      <table>
        <tr>
          <td>お名前</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>生年月日</td>
          <td><%= @user.birthday %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
      </table>
      <%= link_to "ユーザー情報を編集する", edit_user_path, class: "mnsk-link" %>
    </div>

    <%# 出品中のサブスク情報 %>
    <% if @services.length > 0 %>
      <div class="own-sub">
        <h3>出品中のサブスク一覧</h3>
        <table>
          <tr>
            <td>サービス名</td>
            <td>購入者数</td>
          </tr>
          <% @services.each do |service| %>
            <tr>
              <td><%= link_to service[:name], service_path(service[:id]) %></td>
              <td><%= service[:num].length %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <%# 購入したサブスク情報 %>
    <% if @orders.length > 0 %>
      <div class="buy-sub">
        <h3>購入したサブスク一覧</h3>
        <table>
          <tr>
            <td>サービス名</td>
            <td>ステータス</td>
            <td>QRコード発行</td>
          </tr>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order[:name], service_path(order[:service_id]) %></td>
              <td><%= order[:status] %></td>
              <% if order[:status]=="利用可" %>
                <td>
                  <%= form_with model: @code, url: codes_path(order_id: order[:id],service_id: order[:service_id]), id: 'service-form',method: :post,local: true do |f| %>
                    <div class="field">
                      <%= f.submit 'QRコード発行' %>
                    </div>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <div class="card-info">
      <h3>カード情報</h3>
      <% if @card.present? %>
        <table>
          <tr>
            <td>カード番号</td>
            <td><%= "**** **** **** " + @card[:last4] %></td>
          </tr>
          <tr>
            <td>有効期限</td>
            <td><%= @card[:exp_month] %> / <%= @card[:exp_year] %></td>
          </tr>
        </table>
      <% else %>
        <p>まだカードを登録していません。</p>
        <%= link_to "クレジットカードを登録する", new_card_path, class: "mnsk-link" %>
      <% end %>
    </div>

    <div class="menu">
      <%= link_to "トップ", root_path, class: "mnsk-link"%>
    </div>
  </div>
</div>