<div class="container main-wrapper">
  <div class="user">
    <div class="user-info">
      <h2>Your Information</h2>
      <p>Name: <%= @user.name %></p>
      <p>Age: <%= @user.birthday %></p>
      <p>Email: <%= @user.email %></p>
      <%= link_to "Edit Profile", edit_user_path, class: "link" %>
    </div>
    <div class="card-info">
      <h3>Credit Card</h3>
      <% if @card.present? %>
        <p>card number</p>
        <p><%= "**** **** **** " + @card[:last4] %></p>
        <p>limit</p>
        <p><%= @card[:exp_month] %> / <%= @card[:exp_year] %></p>

      <% else %>
        <p>Not register yet.</p>
        <%= link_to "Please resigter from here.", new_card_path, class: "link" %>
      <% end %>
    </div>
  </div>
</div>