<div class="main-wrapper container">
  <div class="content">
    <h2>QRコード発行</h2>
    <% if @error.present? %>
      <% @error.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% else %>
      <p>このQRコードをビジネスオーナーに提示してください</p>
      <div class="qr-wrapper">
        <%= image_tag qrcode_tag @url%>
        <p><%= @url %></p>
      </div>
    <% end %>
    <%= link_to "もどる", service_path(params[:service_id]), class: "mnsk-link"%>
    <%= link_to "トップ", root_path, class: "mnsk-link"%>
  </div>
</div>